<!DOCTYPE html>
{% load static %}

<div class="modal" id="create">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h2>Crear Orden Producción</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            
            <form action="{% url 'create_production_order' %}" class="was-validated" method="post">
                {% csrf_token %}
                <div class="form-container">
                    <div class="form-group">
                        <label for="stock">Cantidad</label>
                        <input type="number" id="stock" name="stock" value="{{ ordenpedido.stock }}" class="form-control" placeholder="Cantidad" required style="width: 50%;">
                    </div>
                    <div class="form-group">
						<label for="supplies_id">Suministros</label>
						<select id="supplies_id" name="supplies_id" class="form-control" required style="width: 50%;">
							{% for supply in object_list %}
								<option value="{{ supply.id }}" {% if ordenpedido.supply == supply.id %}selected{% endif %}>{{ supply.nombre }}</option>
							{% endfor %}
						</select>
					</div>	
                </div>
                <button type="submit" id="submitordenpedido" class="hidden"></button>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="document.getElementById('submitordenpedido').click();return false;" class="btn btn-primary">{{ 'guardar' }}</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
