<!DOCTYPE html>
{% load static %}

<div class="modal" id="create">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            
            <div class="modal-header">
                <h2>Crear Orden Producción</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            
            <form action="{% url 'create_production_order' %}" class="was-validated" method="post" id="ordenForm">
                {% csrf_token %}
                <div class="form-container row">
                    <div id="insumosContainer">                        
                        <div class="form-group insumo-container col-4">
                            <label for="quantity_used">Cantidad</label>
                            <input type="number" name="quantity_used[]" class="form-control" placeholder="Cantidad" required >
                        </div>
                        <div class="form-group insumo-container col-4">
                            <label for="supplies_id">Suministros</label>
                            <select name="supplies_id[]" class="form-control" required >
                                <option value="" selected disabled>Selecciona</option>
                                {% for supply in lista_insumos %}
                                    <option value="{{ supply.id }}">{{ supply.name }}</option>
                                {% endfor %}
                            </select>                            
                        </div>
                    </div>

                    <button type="button" onclick="agregarInsumo()">
                        <img src="{% static 'img/agregar.png' %}"> 
                    </button>
                </div>
                
                <button type="submit" id="submitordenpedido" class="hidden"></button>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="document.getElementById('submitordenpedido').click();return false;" class="btn btn-primary">{{ 'guardar' }}</button>
                </div>
            </form>

            <script>
                function agregarInsumo() {
                    var container = document.getElementById('insumosContainer');
                    var div = document.createElement('div');
                    div.className = 'form-group insumo-container';

                    div.innerHTML = `
                    <div class="form-group insumo-container col-4">
                        <label for="quantity_used">Cantidad</label>
                        <input type="number" name="quantity_used[]" class="form-control" placeholder="Cantidad" required >
                    </div>
                    <div class="form-group insumo-container col-4">
                        <label for="supplies_id">Suministros</label>
                        <select name="supplies_id[]" class="form-control" required >
                            {% for supply in lista_insumos %}
                                <option value="{{ supply.id }}">{{ supply.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    `;

                    container.appendChild(div);
                }
            </script>
            
        </div>
    </div>
</div>
