<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/Style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos-dash-admin.css' %}">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">

	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<link rel="shortcut icon" href="{% static 'img/iconlogo.png' %}">
	<title>PromoPlast | Produccion</title>
</head>

<body>
	
	<header class="dash-menu">
		<img class="logo-dash-admin" src="{% static 'img/logo.png' %}" alt="logo">
		<a class="nav-link" href="@{/}">INICIO</a>
		<ul class="list-menu-ul">
			<li class="list-menu-dash" style="margin-right: -10px"> <img class="img-menu-dash"
					src="{% static 'img/campana.png' %}" alt="Campana"> </li>
			<li class="nav-item dropdown" style="margin-right: -200px;">
				<a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false" v-pre>
					<span sec:authentication="principal.username"></span>
				</a>
				<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="cerrar">
					<a class="dropdown-item" href="@{/logout}" onclick="event.preventDefault();
                               document.getElementById('logout-form').submit();">
						Cerrar sesión
					</a>

					<form id="logout-form" action="@{/logout}" method="POST" class="d-none">
					</form>
				</div>
			</li>
		</ul>
		<li class="list-menu-dash"> <img class="img-menu-dash-users" src="{% static 'img/usuario.png' %}" alt="">
		</li>
	</header>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-2 barmenu">
				<h3 class="mt-4">PROMOPLAST</h3>
				<p></p>
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' %}">MENU</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'ordenpedido' %}">PRODUCCION</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'producto' %}">INVENTARIO</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'ventas' %}">VENTAS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'rrhh' %}">GESTION P.</a>
					</li>
				</ul>
			</div>

			<div class="col-10" id="contentd">
				<div class="card" id="cardash">
					<nav class="descrip-menu">
						<a class="message-ubication" href="{% url 'insumo' %}">Insumos</a>
					</nav>
					<div class="container mt-3">
						<h2>{{ message }}</h2>
						<p></p>
						<table class="table table-striped" id="tablas">
							<thead>
								<tr>									
									<th>Orden Produccion</th>
									<th>Cantidad</th>									
									<th>Insumos</th>									
									<th>Funciones</th>
								</tr>
							</thead>
							<tbody>
								{% for OP in object_list %}
									<tr>												
										<td>{{ OP.Production_OrderDate }}</td>
										<td>{{ OP.quantity_used }}</td>
										<td>{{ OP.supplies }}</td> 
										<td>
											<input type="hidden" id="idordenpedido" name="idordenpedido" value="{{ OP.IdOrdenPedido }}">
											<button type="submit" class="btn btn-danger btn-sm">
												<i class="fa fa-fw fa-trash"></i> {{ _('Delete') }}
											<a href="production/editar/{{ OP.id }}/"><button type="button" class="btn btn-success">Editar</button></a>										
																					
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						{% include 'production/create_productionorder.html' %}
						
						<div class="button-new">
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#create">								
                                Agregar Produccion
                            </button>
							<a class="button-excel" href="@{/ordenpedido/exportar/excel}">
								Exportar a Excel
							</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		

		
	</div>
	
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validaciones.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slidebar.js' %}"></script>

	<script>
        $(document).ready(function () {
            var oTable = $("#tablas").dataTable({
                dom: 'Bfrtip',

                language: {
                    sProcessing: "Procesando...",
                    sLengthMenu: "Mostrar MENU",
                    sZeroRecords: "No se encontraron resultados",
                    sEmptyTable: "Ningún dato disponible en esta tabla",
                    sInfo: "Mostrando del inicio al fin de un total registros",
                    sInfoEmpty: "Mostrando del 0 al 0 de un total de 0 registros",
                    sInfoFiltered: "(filtrado de un total de MAX registros)",
                    sInfoPostFix: "",
                    sSearch: "Buscar:",
                    sUrl: "",
                    sInfoThousands: ",",
                    sLoadingRecords: "Cargando...",
                    oPaginate: {
                        sFirst: "Primero",
                        sLast: "Último",
                        sNext: "Siguiente",
                        sPrevious: "Anterior"
                    },
                    oAria: {
                        sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                        sSortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                },
            });

        });

        function mostrarid() {
            id = document.getElementById('IdOrdenPedido').value;
            alert(id);
        }

        function abrirmodal() {
            $('#editar').show();
        }

		function submitForm() {			
			document.getElementById('submitordenpedido').click();
		}
    </script>
</body>

</html>