<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/barmenu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos-dash-admin.css' %}">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">

	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<link rel="shortcut icon" href="{% static 'img/iconlogo.png' %}">
	<title>PromoPlast | Produccion</title>
</head>

<body>
	
	<header class="cabecera">
		<div class="logo-container">
			<img class="logo-dash-admin" src="{% static 'img/logo.png' %}" alt="logo">
		</div>
		<ul class="list-menu-ul">
			<li class="list-menu-dash"> <img class="img-menu-dash" src="{% static 'img/campana.png' %}" alt="Campana"> </li>
			
			<li class="nav-item dropdown">
				<a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" v-pre>
                    <span>{{ user.username }}</span>
                </a>
				<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="cerrar">
					<a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
						Cerrar sesión
					</a>
					<form id="logout-form" action="{% url 'logout' %}" method="post" class="d-none">
						{% csrf_token %}
					</form>
				</div>	
			</li>
		</ul>
	</header>
	
	<div class="container-fluid">
		<div class="row">
			
			{% include 'menumodulos.html' %}

			<div class="col-10" id="contentd">
				<div class="card" id="cardash">
					<nav class="descrip-menu">
						<a class="message-ubication" href="{% url 'insumo' %}">Insumos</a>
					</nav>
					<div class="container">
						<div class="table-wrapper">
							<div class="table-title">
								<div class="row">
									<div class="col-sm-4">
										<h2>Orden de Produccion</b></h2>
									</div>
									<div class="col-sm-8">					
										<a href="{% url 'production_invoice_pdf'%}" class="btn btn-info"><i class="material-icons">&#xE24D;</i> <span>Exportar</span></a>
									</div>
								</div>
							</div>
							<div class="table-filter">
								<div class="row">
									<div class="col-sm-3">
										<div class="show-entries">
											<span>Mostar</span>
											<select class="form-control">
												<option>5</option>
												<option>10</option>
												<option>15</option>
												<option>20</option>
											</select>
											
										</div>
									</div>
									<div class="col-sm-9" id="tablas">
										<button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
										<div class="filter-group">
											<label>Nombre</label>
											<input type="text" class="form-control">
										</div>
										<div class="filter-group">
											<label>Insumo</label>
											<select class="form-control">
												<option>All</option>
												{% for supply in lista_insumos %}
													<option>{{ supply.name }}</option>
												{% endfor %}
											</select>
										</div>
																		

									</div>
								</div>
							</div>
							<table class="table table-striped table-hover" id="tablas">
								<thead>
									<tr>									
										<th>Fecha de Produccion</th>																		
										<th>Codigo Orden de Produccion</th>		
										<th>Cantidad</th>		
										<th>Insumo</th>				
										<th>Funciones</th>										
									</tr>
								</thead>
								<tbody>
									{% for production_order in orden_pedido %}
									<tr>                                                          								
										<td>{{ production_order.order_date }}</td>
										<td>{{ production_order.production_order }}</td>
										<td>{{ production_order.quantity }}</td>
										<td>{{ production_order.supplies }}</td>
										<td>
											<a href="{% url 'edit_production_order' production_order.id %}">
												<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editOrderProduction">
													Editar
												</button>
											</a>									
											<a href="{% url 'delete_production_order' production_order.id %}">
												{% if user_permissions %}
												{% for permiso in user_permissions %} 
												{% if permiso == 'change_purchaseorder' %}
												<button type="button" class="btn btn-danger">
													Eliminar
												</button>
												{% endif %}
												{% endfor %}
												{% endif %}
											</a>                                
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{% include 'production/create_productionorder.html' %}
							{% include 'production/EditProductOrder.html' %}
							<div class="button-new">
								{% if user_permissions %}
								{% for permiso in user_permissions %} 
								{% if permiso == 'add_purchaseorder' %}
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create">								
									Agregar Produccion
								</button>
								{% endif %}
								{% endfor %}
								{% endif %}								
							</div>
						</div>
					</div>
					
					<div class="container-fluid row" style="margin-top: 30;">
						<div class="col-6"> 
							<canvas id="dailyChart" style="width: 100;"></canvas>
						</div>		
						<div class="col-6"> 	
							<canvas id="monthlyChart" style="width: 100;"></canvas>		
						</div>			
					</div>	
				</div>
				 
			</div>	
					
		</div>			
	</div>
		
</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validaciones.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slidebar.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/chart.js' %}"></script>
	
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
	
		$(document).ready(function() {
			
			$('.btn-refresh-list').click(function(event) {
				event.preventDefault();	
				
				$.ajax({
					type: 'GET',
					url: 'URL_para_actualizar_la_lista_de_pedidos', 
					success: function(response) {						
						$('#tablas tbody').html(response); 
					},
					error: function(xhr, status, error) {						
						console.error(xhr.responseText);
					}
				});
			});
		});

		$(document).ready(function() {
			$('.btn-search').click(function(event) {
				event.preventDefault();
		
				var searchValue = $('.search-input').val().toLowerCase();
		
				// Filtrar las filas de la tabla según el valor de búsqueda
				$('#tablas').DataTable().rows().every(function() {
					var rowData = this.data(); // Obtener los datos de la fila
					var rowText = rowData.join(' ').toLowerCase(); // Unir los datos de la fila en un solo texto en minúsculas
					if (rowText.indexOf(searchValue) === -1) { // Verificar si el texto de la fila contiene el valor de búsqueda
						this.nodes().to$().hide(); // Ocultar la fila si no coincide con el valor de búsqueda
					} else {
						this.nodes().to$().show(); // Mostrar la fila si coincide con el valor de búsqueda
					}
				});
			});
		});
		

		var dailyChartLabels = {{ daily_chart_labels|safe }};
		var dailyChartData = {{ daily_chart_data|safe }};
		var monthlyChartLabels = {{ monthly_chart_labels|safe }};
		var monthlyChartData = {{ monthly_chart_data|safe }};


        $(document).ready(function () {
			var oTable = $("#tablas").dataTable({
				dom: 'Bfrtip',
				language: {
					sProcessing: "Procesando...",
					sLengthMenu: "Mostrar MENU",
					sZeroRecords: "No se encontraron resultados",
					sEmptyTable: "Ningún dato disponible en esta tabla",
					sInfo: "Mostrando del inicio al fin de un total registros",
					sInfoEmpty: "Mostrando del 0 al 0 de un total de 0 registros",
					sInfoFiltered: "(filtrado de un total de MAX registros)",
					sInfoPostFix: "",
					sSearch: "Buscar:", // Esta es la opción para activar el campo de búsqueda
					sUrl: "",
					sInfoThousands: ",",
					sLoadingRecords: "Cargando...",
					oPaginate: {
						sFirst: "Primero",
						sLast: "Último",
						sNext: "Siguiente",
						sPrevious: "Anterior"
					},
					oAria: {
						sSortAscending: ": Activar para ordenar la columna de manera ascendente",
						sSortDescending: ": Activar para ordenar la columna de manera descendente"
					},
				},
				// Aquí habilitamos la funcionalidad de búsqueda en todas las columnas
				searching: true
			});
		});

        function mostrarid() {
            id = document.getElementById('IdOrdenPedido').value;
            alert(id);
        }

        function abrirmodal() {
            $('#editOrderProduction' + id).modal('show');
        }

		function submitForm() {			
			document.getElementById('submitordenpedido').click();
		}
		
    </script>

</body>

</html>