<form action="{% url 'carts:add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <div class="d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-info" id="remove">-</button>
        <input type="number" value="1" class="form-control form-control-sm d-inline" id="quantity" name="quantity"
            readonly>
        <button type="button" class="btn btn-info" id="add">+</button>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-warning">Agregar al carrito</button>
    </div>
</form>


<script>

    const add = document.getElementById('add')
    const remove = document.getElementById('remove') // Corregido el id aquí
    const quantity = document.getElementById('quantity')

    add.addEventListener('click', function () {
        quantity.value = parseInt(quantity.value) + 1
    })

    remove.addEventListener('click', function () {
        let value = parseInt(quantity.value) // Corregido "vale" a "value"

        if(value !== 1){ // Utilizamos !== para comparación estricta
            value = value - 1
        }
        quantity.value = value
    })

</script>
