body,
html {
    height: 100%;
    width: 100%;
    background-image: url(./imgfondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    color: #f2f2f2;
    background: seashell;
}

.box-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}
.imglogin {
    padding: 20px 5%;
    width: 150px;
    height: auto;
}
.flex-box {
    position: relative;
    width: 300px;
    padding: 40px;
    background: #f2f2f2;
    text-align: center;
    border: 2px solid #000;
    margin-top: 3%;
    border-radius: 15px;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #000;
}
.flex-box input[type="email"],
.flex-box input[type="password"],
.flex-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 15px;
    width: 200px;
    outline: none;
    color: #000;
    transition: 0.5s;
}
.flex-box input[type="email"]:focus,
.flex-box input[type="password"]:focus {
    width: 250px;
    border-color: #000;
}
.flex-box button[type="submit"] {
    border: 0;
    background: #300e8c;
    border: 2px solid #000;
    border-radius: 15px;
    cursor: pointer;
    color: #f2f2f2;
}
.flex-box button[type="submit"]:hover {
    background: #4f9c30;
}
