.box-content {
    height: 60%;
    width: 30%;
    padding-left: 8.5rem;
    padding-top: 4rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image:  url('imgfondo.png');
    border-radius: 20px;
}

.btn-guardar {
    padding-top: 2rem;
    margin-left: 5rem;
}

label {
    font-size: 1.2rem;
}
  