<!DOCTYPE html>
{% load static %}

<div class="modal" id="create">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h2>Crear Insumo</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            
            <form action="{% url 'create_supplies' %}" class="was-validated" method="post">
                {% csrf_token %}
                <div class="form-container">
                    <div class="form-group">
                        <label for="stock">Nombre</label>
                        <input type="text" id="name" name="name" value="{{ Supplies.name }}" class="form-control" placeholder="Nombre" required style="width: 50%;">
                        <label for="stock">Cantidad</label>
                        <input type="number" id="stock" name="stock" value="{{ Supplies.stock }}" class="form-control" placeholder="Cantidad" required style="width: 50%;">
                    </div>
                    <div class="form-group">
						<label for="stock">Tamaño</label>
                        <input type="text" id="size" name="size" value="{{ Supplies.size }}" class="form-control" placeholder="Tamaño" required style="width: 50%;">
                        <label for="stock">Color</label>
                        <input type="text" id="color" name="color" value="{{ Supplies.color }}" class="form-control" placeholder="color" required style="width: 50%;">
					</div>	
                </div>
                <button type="submit" id="submitordenpedido" class="hidden"></button>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="document.getElementById('submitordenpedido').click();return false;" class="btn btn-primary">{{ 'guardar' }}</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
