<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/barmenu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos-dash-admin.css' %}">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<link rel="shortcut icon" href="{% static 'img/iconlogo.png' %}">
	<title>PromoPlast | Insumo</title>

	<link rel="dns-prefetch" href="//fonts.bunny.net">
	<link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">


</head>

<body>

	<header class="cabecera">
		<div class="logo-container">
			<img class="logo-dash-admin" src="{% static 'img/logo.png' %}" alt="logo">
		</div>
		<ul class="list-menu-ul">
			<li class="list-menu-dash"> <img class="img-menu-dash" src="{% static 'img/campana.png' %}" alt="Campana"> </li>
			
			<li class="nav-item dropdown">
				<a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false" v-pre>
				<span>{{ user.username }}</span>
			</a>
				<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" id="cerrar">
					<a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
						Cerrar sesión
					</a>
					<form id="logout-form" action="{% url 'logout' %}" method="post" class="d-none">
						{% csrf_token %}
					</form>
				</div>			
			</li>
		</ul>
	</header>
	<div class="container-fluid">
		<div class="row">
			
			{% include 'menumodulos.html' %}


			<div class="col-10" id="contentd">
				<div class="card" id="cardash">
					<nav class="descrip-menu">
						<a class="message-ubication" href="{% url 'ordenpedido' %}">Produccion</a>
					</nav>
					
					<div class="container mt-3">
						<h2>{{ message }}</h2>
						<p></p>
						<table class="table table-striped" id="tablas">
							<thead>
								<tr>									
									<th>Nombre</th>
									<th>Cantidad</th>
									<th>Tamaño</th>
									<th>Color</th>
									<th>Codigo Insumo</th>
									<th>Editar</th>
									<th>Eliminar</th>
								</tr>
							</thead>
							<tbody>								
								{% for insumo in object_list %}
								<tr>																	
									<td>{{insumo.name}}</td>
									<td>{{insumo.stock}}</td>
									<td>{{insumo.size}}</td>
									<td>{{insumo.color}}</td>
									<td>{{insumo.supplieCode}}</td>
									<td>
										{% include 'supplies/EditSupplies.html' %}
										{% csrf_token %}

										{% if user_permissions %}
											{% for permiso in user_permissions %} 
												{% if permiso == 'change_supplies' %}
													<a href="{% url 'edit_supplies' insumo.id %}">											
														<button type="button" onclick="abrirmodal('{{ insumo.id }}')" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editSuppliesModal_{{ insumo.id }}">
															Editar
														</button>
													</a>
												{% endif %}
											{% endfor %}
										{% endif %}									
									</td>
									<td>
										{% if user_permissions %}
											{% for permiso in user_permissions %} 
												{% if permiso == 'delete_supplies' %}
													<a href="{% url 'delete_supplies' insumo.id %}">
														<button type="button" class="btn btn-danger">
															Eliminar
														</button>
													</a>
												{% endif %}
											{% endfor %}
										{% endif %}	
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% include 'supplies/CreateSupplies.html' %}						
						
						<div class="d-flex justify-content-around bg mb-3">
							{% if user_permissions %}
								{% for permiso in user_permissions %} 
									{% if permiso == 'add_supplies' %}
										<button type="button" class="btn btn-primary" data-bs-toggle="modal"
											data-bs-target="#create">
											Nuevo Insumo
										</button>
									{% endif %}
								{% endfor %}
							{% endif %}	
							<a href="" class="btn btn-success" target="_blank">PDF</a>					
						</div>						
					</div>
				</div>
			</div>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
		crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
			var oTable = $("#tablas").dataTable({
				dom: 'Bfrtip',

				language: {
					sProcessing: "Procesando...",
					sLengthMenu: "Mostrar MENU",
					sZeroRecords: "No se encontraron resultados",
					sEmptyTable: "Ningún dato disponible en esta tabla",
					sInfo: "Mostrando del inicio al fin de total registros",
					sInfoEmpty: "Mostrando del 0 al 0 de un total de 0 registros",
					sInfoFiltered: "(filtrado de un total de MAX registros)",
					sInfoPostFix: "",
					sSearch: "Buscar:",
					sUrl: "",
					sInfoThousands: ",",
					sLoadingRecords: "Cargando...",
					oPaginate: {
						sFirst: "Primero",
						sLast: "Último",
						sNext: "Siguiente",
						sPrevious: "Anterior"
					},
					oAria: {
						sSortAscending: ": Activar para ordenar la columna de manera ascendente",
						sSortDescending: ": Activar para ordenar la columna de manera descendente"
					},
				},
			});

		});

		function mostrarid() {
			id = document.getElementById('idinsumo').value;
			alert(id);
		}

		function abrirmodal(id) {
			$('#editSuppliesModal_' + id).modal('show');
		}
	</script>

</body>

</html>