<style>
    .nav-link {
        color: white; /* Color del texto inicial */
        transition: color 0.3s ease; /* Transición suave para el cambio de color */
    }

    .nav-link:hover {
        color: black; /* Color del texto al pasar el mouse sobre él */
    }

    .barmenu {
        height: 100vh; /* Altura del 100% de la ventana */
        background-color: #092CA0; /* Color de fondo de la barra de menú */
        padding: 20px; /* Espaciado interno de la barra de menú */
    }
</style>

<div class="col-2 barmenu">
    <h3 class="mt-4">PROMOPLAST</h3>
    <p></p>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">MENU</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">PRODUCCIÓN</a>
            <ul class="dropdown-menu">

                {% if permission_insumo %}
                    <li><a class="dropdown-item" href="{% url 'insumo' %}">Insumos</a></li>
                {% endif %}

                {% if permission_orden_pedido %}
                    <li><a class="dropdown-item" href="{% url 'ordenpedido' %}">Orden de pedido</a></li>
                {% endif %}
            </ul>
        </li>

        {% if permission_inventory %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'producto' %}">INVENTARIO</a>
            </li>
        {% endif %}

        {% if permission_venta %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ventas' %}">VENTAS</a> 
            </li>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">GESTIÓN P.</a>
            <ul class="dropdown-menu">
                {% if permission_sugerencia %}
                    <li><a class="dropdown-item" href="{% url 'sugerencias' %}">Sugerencias</a></li>
                {% endif %}

                {% if permission_postulacion %}
                    <li><a class="dropdown-item" href="{% url 'Postulacion' %}">Postulaciones</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>