{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/sales.css' %}">
    <link rel="stylesheet" href="{% static  'css/Prod.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/offer-table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos-dash-admin.css' %}">
    
    <title>Promoplast | Catalogo</title>


    <link rel="shortcut icon" href="{% static 'img/iconlogo.png' %}">
</head>

<body>

    <header>
        <img class="logo-compania" src="{% static 'img/logo.png'%}" alt="logo">
        <h1>Ofertas de Empleo</h1>
        <a href="/" class="btn-ingresar"><img class="img-login" src="/static/img/icons8-atr%C3%A1s-64.png"
                alt="ingresar"></a>
    </header>

    <div class="container">

        {% if ofertas_laborales %}
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha Oferta</th>
                        <th>Estado de la Oferta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for oferta in ofertas_laborales %}
                        <tr>
                            <td>{{ oferta.id }}</td>
                            <td>{{ oferta.fecha_publicacion|date:"d/m/Y" }}</td>
                            <td>{{ oferta.estado_oferta }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay ofertas laborales disponibles en este momento.</p>
        {% endif %}
    </div>


    

    <div class="col-10" id="contentd">
        <div class="card" id="cardash">
            <center>
                <form action="" class="flex-box needs-validation formpostu">
                    <h2>Nueva postulacion</h2>
                    <div class="row">
                        <div class="form-floating mt-3 mb-3 col-4">
                            <input type="text" class="form-control" id="cargo" placeholder="Cargo" required>
                            <label for="cargo">Cargo</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-4">
                            <input type="text" class="form-control" id="Cantidad"
                                placeholder="Cantidad de puestos" required name="Cantidad" maxlength="#"
                                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                            <label for="Cantidad">Cantidad de puesto</label>
                        </div>

                        <div class="form-floating mt-3 mb-3 col-8">
                            <textarea type="textarea" class="form-control" id="descargo"
                                placeholder="desciprcion del cargo" required> </textarea>
                            <label for="descargo">Descripción del cargo</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-4">
                            <input type="date" class="form-control" id="fechaoferta" placeholder="fechaoferta"
                                required>
                            <label for="fechaoferta">Fecha publicacion de oferta</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-4">
                            <input type="date" class="form-control" id="fechaoferta" placeholder="fechaoferta"
                                required>
                            <label for="fechaoferta">Fecha cierre de oferta</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-2">
                            <input type="number" class="form-control" id="experiencia" placeholder="experiencia"
                                required name="Cantidad" maxlength="#"
                                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
                            <label for="Experiencia">Experiencia años</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-3">
                            <select class="form-select" id="sel1" name="Estudios">
                                <option>Tecnico</option>
                                <option>Tecnologo</option>
                                <option>Profesional</option>
                                <option>Bachiller</option>
                            </select>
                            <label for="sel1" class="form-label">Estudios</label>
                        </div>
                        <div class="form-floating mt-3 mb-3 col-3">
                            <select class="form-select" id="sel1" name="tipocontrato">
                                <option>Termino definido</option>
                                <option>Termino definido</option>
                                <option>Contrato por prestación de servicios</option>
                                <option>Contrato de aprendizaje</option>
                            </select>
                            <label for="sel1" class="form-label">Tipo de Contrato</label>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Crear
                        </button>
                        <div class="text-end mt-3">
                            <a href="{% url 'rrhh' %}" class="btn btn-secondary btn-block"
                                style="width: 100px;">Volver</a>
                        </div>

                    </div>
                </form>
            </center>

        </div>
    </div>



</body>
<footer>
        <div class="pie_pagina">
            <div class="group2">
                <small>&copy;2023 <b>JAS-SOFT</b> - Todos los derechos reservados</small>
            </div>
        </div>
    </footer>
</html>