<!-- sales.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/sales.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/offer-table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/estilos-dash-admin.css' %}">-->

    <title>Promoplast | Empleo</title>

    <link rel="shortcut icon" href="{% static 'img/iconlogo.png' %}">
</head>

<body>
    <header>
        <img class="logo-compania" src="{% static 'img/logo.png'%}" alt="logo">
        <h1>Ofertas de Empleo</h1>
        <a href="/" class="btn-ingresar"><img class="img-login" src="/static/img/icons8-atr%C3%A1s-64.png"
                alt="ingresar"></a>
    </header>

    <main class="table">
        <section class="table_header">
            <h1>Ofertas Disponibles</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Fecha Publicación</th>
                        <th>Fecha Final</th>
                        <th>Descripción Oferta</th>
                        <th>Perfil</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulacion in postulaciones %}
                        <tr>
                            <td>{{ postulacion.startOffers }}</td>
                            <td>{{ postulacion.descripOffer }}</td>
                            <td>{{ postulacion.profilePostulation }}</td>
                            <td>{{ postulacion.StatePostulations }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>