{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'CSS/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/css2.css' %}">  
    <title>Formulario Registro</title>
    <link rel="shortcut icon" href="{% static 'img/iconlogo.png' %}">
</head>

<body>
    <header>
        <h2>PROMOPLAST</h2>
        <h2>Inicio de sesion</h2>
    </header>

    <section class="form-register">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <img class="imglogin" src="{% static 'img/logo.png' %}" alt="Esta imagen no se puede visualizar">
            <h4>Formulario Registro</h4>
            {% for field in form%}
            <div clas="form-group">
                                
                {{ field.label_tag }}
                {{ field }}

                {% if field.erros %}
                {{ field.erros }}
                {% endif %}

            </div>
            {% endfor %}

            <div class="row mb-0">
                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                        Registrarse
                    </button>
                </div>
            </div>

            <a href="{% url 'login_jas' %}" class="back-link">&#8592; Volver al ingreso</a>
        </form>
    </section>
</body>

</html>