{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'CSS/formulario.css' %}">
    <title>Formulario Registro</title>
    <link rel="shortcut icon" href="{% static 'img/iconlogo.png' %}">
</head>

<body>
    <header>
        <a href="{% url 'home' %}">
            <h2>PROMOPLAST SAS</h2>
        </a>
        <h2>REGISTRO</h2>
    </header>
    <section class="form-register">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <img class="imglogin" src="{% static 'img/logo.png' %}" alt="Esta imagen no se puede visualizar">
            <h4>Formulario Registro</h4>

            <div class="row mb-3">
                <label for="first_name" class="col-md-4 col-form-label text-md-end">Nombre</label>


                <div class="col-md-6">
                    <input id="first_name" type="text" class="form-control controls" name="first_name"
                        value="{{ request.POST.first_name }}" required autocomplete="first_name">

                    <!-- Manejo de errores de Django para el nombre -->
                </div>
            </div>
            <div class="row mb-3">
                <label for="last_name" class="col-md-4 col-form-label text-md-end">Apellido</label>

                <div class="col-md-6">
                    <input id="last_name" type="text"
                        class="form-control controls {% if 'last_name' in errors %}is-invalid{% endif %}"
                        name="last_name" value="{{ request.POST.last_name }}" required autocomplete="last_name">

                    {% if 'last_name' in errors %}
                    <div class="error-message">
                        <span class="invalid-feedback" role="alert">
                            <strong>{{ errors.last_name }}</strong>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <label for="email" class="col-md-4 col-form-label text-md-end">Correo</label>

                <div class="col-md-6">
                    <input id="email" type="email"
                        class="form-control controls {% if 'email' in errors %}is-invalid{% endif %}" name="email"
                        value="{{ request.POST.email }}" required autocomplete="email">

                    {% if 'email' in errors %}
                    <div class="error-message">
                        <span class="invalid-feedback" role="alert">
                            <strong>{{ errors.email }}</strong>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <label for="password" class="col-md-4 col-form-label text-md-end">Contraseña</label>

                <div class="col-md-6">
                    <input id="password" type="password"
                        class="form-control controls {% if 'password' in errors %}is-invalid{% endif %}" name="password"
                        required autocomplete="new-password">

                    {% if 'password' in errors %}
                    <div class="error-message">
                        <span class="invalid-feedback" role="alert">
                            <strong>{{ errors.password }}</strong>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <label for="password-confirm" class="col-md-4 col-form-label text-md-end">Confirmar Contraseña</label>
                <div class="col-md-6">
                    <input id="password-confirm" type="password" class="form-control controls"
                        name="password_confirmation" required autocomplete="new-password">
                </div>

                {% if 'password_confirmation' in errors %}
                <div class="error-message">
                    <span class="invalid-feedback" role="alert">
                        <strong>{{ errors.password_confirmation }}</strong>
                    </span>
                </div>
                {% endif %}
            </div>

            <div class="row mb-0">
                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                        Registrarse
                    </button>
                </div>
            </div>
            
            <p><a href="/login">¿Ya tengo Cuenta?</a></p>
        </form>
    </section>
</body>

</html>