<!DOCTYPE html>
{% load static %}

<div class="modal" id="create_postulation">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h2>Crear Postulación</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            
            <form action="{% url 'create_postulation' %}" class="was-validated" method="POST">
                {% csrf_token %}
                <div class="form-container">
                    <div class="form-group">
                        <label for="startOffers">Fecha</label>
                        <input type="date" id="startOffers" name="startOffers" value="{{ Postulation.startOffers }}" class="form-control" placeholder="Fecha de inicio" required style="width: 50%;">

                        <label for="descripOffer">Descripción Oferta</label>
                        <input type="text" id="descripOffer" name="descripOffer" value="{{ Postulation.descripOffer }}" class="form-control" placeholder="Oferta" required style="width: 50%;">
                    </div>
                    <div class="form-group">
						<label for="profilePostulation">Perfil</label>
                        <input type="text" id="profilePostulation" name="profilePostulation" value="{{ Postulation.profilePostulation }}" class="form-control" placeholder="Perfil" required style="width: 50%;">
                        <label for="state">Estado</label>
						<select id="StatePostulations" name="StatePostulations" class="form-control" required style="width: 50%;">
                            <option value="selecciona">Selecciona</option>
                            <option value="Activa">Activa</option>
                            <option value="EnRevision">En Revisión</option>
                            <option value="seleccionado">seleccionado</option>
                            <option value="Declinada">Declinada</option>
                        </select>
					</div>	
                </div>
                <button type="submit" id="submitpostulacion" class="hidden"></button>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" onclick="document.getElementById('submitpostulacion').click();return false;" class="btn btn-primary">{{ 'guardar' }}</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
