<!DOCTYPE html>
{% load static %}

<div class="modal" id="create_sugerencia">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h2>Crear sugerencias</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            
            <form action="{% url 'create_sugerencias' %}" class="was-validated" method="POST">
                {% csrf_token %}
                <div class="form-container">
                    
                    <div class="form-group">
                        <label for="category">Categoría</label>
						<select id="category" name="category" class="form-control" required style="width: 50%;">
                            <option value="mobiliario">Mobiliario</option>
                            <option value="violencia_laboral">Violencia laboral</option>
                            <option value="acoso_laboral">Acoso laboral</option>
                            <option value="festividades">Festividades</option>
                        </select>
					</div>
                    <div class="form-group">
                        <label for="descriptCategory">Descripción de la categoría</label>
                        <input type="text" id="descriptCategory" name="descriptCategory" class="form-control" placeholder="Descripción de la categoría" required style="width: 100%; height: 100%;">
                    </div>	
                </div>
                <button type="submit" id="submitsugerencia" class="hidden"></button>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" onclick="document.getElementById('submitsugerencia').click();return false;" class="btn btn-primary">{{ 'guardar' }}</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
