.pie_pagina{
    width: 100%;
    background-color: rgb(31, 31, 31);
}

.pie_pagina .group1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie_pagina .group1 .box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie_pagina .group1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie_pagina .group1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie_pagina .group1 .redsocical a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
} 

.pie_pagina .group2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie_pagina .group2 small{
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie_pagina .group1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
