a {
    text-decoration: none;
    color: #000;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
    color: #300e8c;
}
body {
    background-image: url('/img/imgfondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    }
header a,h2{
      color: #f2f2f2;
}
.box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.imglogin {
    padding: 20px 5%;
    width: 150px;
    height: auto;
}

.flex-box {
    position: relative;
    width: 400px;
    padding: 40px;
    background: #f2f2f2;
    text-align: center;
    border: 2px solid #000;
    margin-top: 3%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.flex-box input[type="username"],
.flex-box input[type="password"],
.flex-box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 15px;
    width: 350px;
    outline: none;
    color: #000;
    transition: 0.5s;
}

.flex-box input[type="email"]:focus,
.flex-box input[type="password"]:focus {
    width: 250px;
    border-color: #000;
}

.flex-box input[type="submit"] {
    border: 0;
    background: #300e8c;
    border: 2px solid #000;
    border-radius: 15px;
    cursor: pointer;
    color: #f2f2f2;
}

.flex-box input[type="submit"]:hover {
    background: #4f9c30;
}

.flex-box .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box .form-group label {
    margin-right: 10px;
}

.flex-box .form-group input[type="checkbox"] {
    margin-right: 5px;
}