/* ... Otros estilos ... */

body {
    background-image: url('/static/img/imgfondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

header a, h2 {
    color: #f2f2f2;
}

