/* ... Otros estilos ... */

body {
    background-image: url('/static/img/imgfondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

header a, h2 {
    color: #f2f2f2;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.imglogin {
    padding: 20px 5%;
    width: 150px;
    height: auto;
}

.flex-box {
    position: relative;
    width: 400px;
    padding: 40px;
    background: #f2f2f2;
    text-align: center;
    border: 2px solid #000;
    margin-top: 3%;
    border-radius: 15px;
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

.flex-box .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

.flex-box label {
    text-align: left;
    margin-bottom: 5px;
  }

.flex-box input[type="text"],
.flex-box input[type="password"] {
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 15px;
  width: 150%;
  padding: 14px 10px;
  text-align: center;
  margin-top: 10px;
  outline: none;
  color: #000;
  transition: 0.5s;
}

.flex-box input[type="submit"] {
    border: 0;
    background: #300e8c;
    border: 2px solid #000;
    border-radius: 15px;
    cursor: pointer;
    color: #f2f2f2;
}

.flex-box input[type="submit"]:hover {
    background: #4f9c30;
}

/* ... Otros estilos ... */
