.styled-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #080808; 
}

.styled-table th,
.styled-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #0e0d0d; 
}

.styled-table th {
    background-color: #a34f4f; 
}

.table_title {
    text-align: center;
    margin-bottom: 20px; 
}

